<html>
<head>
	<title></title>
</head>
<body>
	<a href="/vampires">back to index</a>
	<h1><%= vampire.name %></h1>
	<img src="<%= vampire.img %>"/>
	<p>Location: <%= vampire.location %></p>
	<p>Gender: <%= vampire.gender %></p>
	<p>Victims: <%= vampire.victims %></p>
</body>
</html>