<div style="height: 500px; width: 500px; margin: 0 auto; text-align: center">
	<a href="/characters">Back to list</a>

	<h1><%= data.name %></h1>

	<img src="<%= data.img %>"/>

	<p><%= data.about %></p>


	<a href="/characters/<%= data.id %>/edit">
	     Edit this character
	</a>

	<br/>
	<br/>

	<form action="/characters/<%= data.id %>" method="POST">
		<input type="hidden" name="_method" value="DELETE"/>
		<button>Remove</button>
	</form>
</div>